header{
	/*background-image:linear-gradient(60deg, white, darkred);*/

}

.imageHeader{
	width:100%
}

.corps{
	background-color: #ede9e1;
	-moz-box-shadow: 5px 5px 10px 0px #470909;
	-webkit-box-shadow: 5px 5px 10px 0px #470909;
	-o-box-shadow: 5px 5px 10px 0px #470909;
	box-shadow: 5px 5px 10px 0px #470909;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#470909, Direction=134, Strength=10);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
}

.divVideo{
	width:100%;
}
.listguide{
	text-align: center;
}
.guide{
	text-align: justify;
}

.imgGuide{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}